
*.o
*.obj
*.d
*.idb
*.pdb
*.ilk
*.map
*.pch
*.gch
*.lib
*.a
*.dll
*.so
*.dylib
*.exe
*.out
*.app

.vs/
Debug/
Release/
x64/
x86/
build/
*.suo
*.user
*.userosscache
*.sln.docstates
*.aps

.vscode/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile

bin/
temp/
obj/
gen/
assets/
library/
local/
proj.android/app/build/
proj.android/.gradle/
proj.android/local.properties
*.apk

.DS_Store
Thumbs.db